documents archiving.sln
.vs/documents archiving/config
DocumentsArchiving.Web/bin
DocumentsArchiving.BI/bin/Debug
.vs/documents archiving/v16/Server/sqlite3/db.lock
.vs/documents archiving/v16/Server/sqlite3/storage.ide-wal
DocumentsArchiving.BLL/obj/Debug/DocumentsArchiving.BLL.csprojAssemblyReference.cache
.vs/documents archiving/v16/.suo
DocumentsArchiving.BLL/obj/Debug/DocumentsArchiving.BLL.csprojAssemblyReference.cache
DocumentsArchiving.Console/obj/Debug/DocumentsArchiving.Console.csprojAssemblyReference.cache
DocumentsArchiving.DAL/obj/Debug/DocumentsArchiving.DAL.csprojAssemblyReference.cache
DocumentsArchiving.INTEG/obj/Debug/DocumentsArchiving.INTEG.csprojAssemblyReference.cache
DocumentsArchiving.Web/bin/DocumentsArchiving.Web.dll
DocumentsArchiving.Web/bin/DocumentsArchiving.Web.pdb
DocumentsArchiving.Web/obj/Debug/DocumentsArchiving.Web.csprojAssemblyReference.cache
DocumentsArchiving.Web/obj/Debug/DocumentsArchiving.Web.dll
DocumentsArchiving.Web/obj/Debug/DocumentsArchiving.Web.pdb
